@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-size: cover;
  background-color: #ebf0f0;
  background-image: url(/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

strong {
  @apply inline-block font-semibold transition transform hover:-translate-y-0.5;
}

a strong {
  @apply hover:text-blue-600;
}
